*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    margin: auto;
    width: 40vw;
    padding: 10px;
    position: relative;
}
input{
    margin: 7px;
    background-color: lightgray;
}
.submit{
    width: 80px;
    height: 30px;
    background-color: green;
    border: black solid 3px;
    color: white;
    position: absolute;
    right: 40%;
}
label{
    font-size: 1.3rem;
}
h1{
    margin-bottom: 20px;
}
.container{
    width: 40vw;
    margin: auto;
    background-color: lightgray;
    color: green;
    margin-top: 100px;
    position: relative;
}
h4{
    margin:10px;
    font-weight: 350;
    font-size: 1.3rem;
}
h2{
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color: black;
    text-align: center;
}
#edit{
    width: 80px;
    height: 30px;
    background-color: chartreuse;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    bottom: 3px;
    right: 10px;
}
#delete{
    width: 80px;
    height: 30px;
    background-color: red;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    bottom: 3px;
    right: 100px;
}
